.login{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    position:relative;
    margin-top: 10vh;
    min-height: 90vh;
    background-color: #F3F3F3;
}
.login__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    min-width: 40%;
    min-height: 5vh;
    background-color: #A50104;

    border: 1px solid;
    box-shadow: 5px 10px #250001;
    border-radius: 20px;

}

.login__elemento{
    display: flex;
    justify-content: center;
    background-color: #FCBA04;
    border-radius: 20px;
    min-height: 10vh;
    min-width: 10vh;
    


}
input[type=text], select {
    padding: 1vh 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F3F3F3;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color: #F3F3F3;
    color: F3F3F3;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.button {
    background-color: #FCBA04; 
    border: none;
    color: black;
    padding: 1vh 11vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 8px;
    border: 2px solid #250001;     
    box-shadow: 5px 5px #250001;




  }

  .button:hover {
    background-color: #250001; 

    color: white;
  }