<menu class="header">
    <div class="header__contenedor">
        <div class="header_contenedor-letras">
            <div class="header__titulo">
                <p>
                    Proyecto 2
                </p>
            </div>
        </div>
        <div class="header_contenedor-letras">
            <div class="header__contenedor-menu">
                    <div (click)="this.navegar('/home')"  class="header__contenedor-letra">
                        <p>home</p>
                    </div >
                    <div (click)="this.navegar('/login')" class="header__contenedor-letra">
                        <p>Login</p>
                    </div>
                    <div (click)="this.navegar('/register')" class="header__contenedor-letra">
                        <p>Register</p>
                    </div>  
            </div>
        </div>
    </div>
</menu>
