<menu class="header">
    <div class="header__contenedor">
        <div class="header_contenedor-letras">
            <div class="header__titulo">
                <p>
                    Proyecto 2

                </p>
            </div>
        </div>
        <div class="header_contenedor-letras">
            <div class="header__contenedor-menu">
                    <div (click)="this.navegar('/usuario')" class="header__contenedor-letra">
                        <p>Home</p>
                    </div >
                    <div (click)="this.navegar('/perfil')" class="header__contenedor-letra">
                        <p>Editar perfil</p>
                    </div>
                    <div (click)="this.navegar('/crear_post')" class="header__contenedor-letra">
                        <p>Crear post</p>
                    </div>  
            </div>
        </div>
    </div>
</menu>



<div class="register">
   
    <div class="register__contenedor">
        
        <div class="register__elemento">
            <div [formGroup]="this.perfilForm"  class="register___Datos">
                <p>
                    Nombre
                </p>

                <p>
                    <label for="Name"></label>
                    <input type="text" id="1Name" name="registerNombre" formControlName="nombre" />
                </p>
                <p>
                    Genero
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="1Genero" name="registeGenero" formControlName="genero"/>
                </p>
                <p>
                    Nombre de Usuario
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="1Nombre de Usuario" name="registerCorreo" formControlName="nombre_de_usuario"/>
                </p>
                <p>
                    Correo electronico
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="1Correo electronico" name="registerPassword" formControlName="correo_electronico"/>
                </p>

                <p>
                    Password
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="1Password" name="registeNombreDeUsuario" formControlName="password"/>
                </p>


                <p>
                    <button (click)="this.editar_perfil()" class="button">Editar Perfil</button>
                </p>
             
                
            </div>

        </div>
    </div>
</div>
