
<app-header></app-header>

<div class="home__Contenedero">
    <div class="home__Elementos">
        <div class="fondo">
        </div>
    </div>

    <div class="texto__Contenedor">
            <div class="texto">
                <h1>
                    Mision
                </h1>
                <p style="text-align: justify;">Mi mision al crear este blog es poder hacer un sitio web donde todas las personas pudiesen conpartir sus gustos con mucha mas gente a travez de internet</p>

            </div>
            <div class="texto">
                <h1>
                    Vision
                </h1>

                <p style="text-align: justify;">Mi vision para este este blog convertirlo en el blog mas popular de la red a travez de tiempo, dedicasao y mis nulos conocimientos de programacion</p>

             </div>
            <div class="texto">
              <h1>
                  Acerca de Ubog
             </h1>

             <p style="text-align: justify;">Ublog es Un blog que incluye, que puedes usar a modo de diario personal de su autor o autores o personas interezadas en aportar, contenidos de su inter&eacute;s, que actualizo con frecuencia y a menudo tenemos nuevo contenido gracias a nuestra comunidad.</p>
         </div>
    </div>

</div>

