<menu class="header">
    <div class="header__contenedor">
        <div class="header_contenedor-letras">
            <div class="header__titulo">
                <p>
                    Proyecto 2
                </p>
            </div>
        </div>
        <div class="header_contenedor-letras">
            <div class="header__contenedor-menu">
                    <div (click)="this.navegar('/home')" class="header__contenedor-letra">
                        <p>Salir</p>
                    </div >
                    <div (click)="this.navegar('/perfil')" class="header__contenedor-letra">
                        <p>Editar perfil</p>
                    </div>
                    <div (click)="this.navegar('/crear_post')" class="header__contenedor-letra">
                        <p>Crear post</p>
                    </div>  
            </div>
        </div>
    </div>
</menu>







<div class="contenedor">
    <div class="logo">

        
    </div>
        <div class="contenedor_post">
            <table>
                <tr  *ngFor="let post of this.listadoPost">
                    <th scope="row"></th>
                    <td>{{post.cantidad_megusta}}</td>
                    <td>{{post.category}}</td>
                    <td>{{post.date}}</td>
                    <td>{{post.type}}</td>
                    <td>{{post.url}}</td>


                </tr>
            </table>


        <h1>   POST </h1>
    </div>
</div>