<menu class="header">
    <div class="header__contenedor">
        <div class="header_contenedor-letras">
            <div class="header__titulo">
                <p>
                    Proyecto 2
                </p>
            </div>
        </div>
        <div class="header_contenedor-letras">
            <div class="header__contenedor-menu">
                    <div (click)="this.navegar('/home')" class="header__contenedor-letra">
                        <p>Salir</p>
                    </div >
                    <div (click)="this.navegar('/perfil')" class="header__contenedor-letra">
                        <p>Editar perfil</p>
                    </div>
                    <div (click)="this.navegar('/crear_post')" class="header__contenedor-letra">
                        <p>Crear post</p>
                    </div>  
            </div>
        </div>
    </div>
</menu>







<div class="contenedor">
    <div class="logo">

    </div>
        <div class="contenedor_post">
            <h1>   POST </h1>

            <div class="user-layout">
                <div  *ngFor="let post of this.listadoPost" class="separador">

                    <div class="user-card">
                        <div class="user-center">
                            <h1> {{post.type}}</h1>
                        </div>
                        <div class="user-linea">
                        </div>
                        <div class="user-box">
                            <div class="user-box-text">
                                <td>Cantidad de megustas: {{post.cantidad_megusta}}</td>
                                <div class="user-linea"></div>
                                <td>Categorias: {{post.category}}</td>
                                <div class="user-linea"></div>
                                <td>{{post.date}}</td>
                                <div class="user-linea"></div>
                            </div>

                            <div >
                                <div *ngIf="post.type!='imagen'">
                                    <iframe class="user-media" [src]="post.url" width="560" height="315" frameborder="0" allowfullscreen></iframe>
                                </div>

                                <div *ngIf="post.type=='imagen'">
                                    <img class="user-media" [src]="post.url">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
    </div>
</div>