<menu class="header">
    <div class="header__contenedor">
        <div class="header_contenedor-letras">
            <div class="header__titulo">
                <p>
                    Proyecto 2
                </p>
            </div>
        </div>
        <div class="header_contenedor-letras">
            <div class="header__contenedor-menu">
                    <div (click)="this.navegar('/usuario')" class="header__contenedor-letra">
                        <p>Home</p>
                    </div >
                    <div (click)="this.navegar('/perfil')" class="header__contenedor-letra">
                        <p>Editar perfil</p>
                    </div>
                    <div (click)="this.navegar('/crear_post')" class="header__contenedor-letra">
                        <p>Crear post</p>
                    </div>  
            </div>
        </div>
    </div>
</menu>



<div class="register">
   
    <div class="register__contenedor">
        
        <div class="register__elemento">
            <div  class="register___Datos">
                <p>
                    Tipo
                </p>

                <p>
                    <select name="Tipo" class="button">
                        <option value="Video">video</option>
                        <option value="Imagen">imagen</option>
                        
                      </select>
                </p>
                <p>
                    Url
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="Name" name="registeGenero" formControlName="genero"/>
                </p>
                <p>
                    Categoria
                </p>
    
                <p>
                    <label for="Name"></label>
                    
                    <input type="text" id="Name" name="registerCorreo" formControlName="nombre_de_usuario"/>
                </p>


                <p>
                    <button  class="button">Crear post</button>
                </p>
             
                
            </div>

        </div>
    </div>
</div>
