<div class="register">
    
    <div class="register__contenedor">
        <div class="register__elemento">
            <div class="register___Datos">
                <p>
                    Nombre
                </p>

                <p>
                    <label for="Name"></label>
                    <input type="text" id="Name" name="Name" />
                </p>
                <p>
                    Genero
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="Name" name="Name" />
                </p>
                <p>
                    Nombre de Usuario
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="Name" name="Name" />
                </p>
                <p>
                    Correo electronico
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="Name" name="Name" />
                </p>

                <p>
                    Password
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="Name" name="Name" />
                </p>
             
                
            </div>

        </div>
    </div>
</div>