<app-header></app-header>

<div class="register">
    <div class="register__contenedor">
        <div class="register__elemento">
            <div [formGroup]="this.registerForm" class="register___Datos">
                <p>
                    Nombre
                </p>

                <p>
                    <label for="Name"></label>
                    <input type="text" id="1Name" name="registerNombre" formControlName="nombre" />
                </p>
                <p>
                    Genero
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="2Name" name="registeGenero" formControlName="genero"/>
                </p>
                <p>
                    Nombre de Usuario
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="3Name" name="registerCorreo" formControlName="nombre_de_usuario"/>
                </p>
                <p>
                    Correo electronico
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="4Name" name="registerPassword" formControlName="correo_electronico"/>
                </p>

                <p>
                    Password
                </p>
    
                <p>
                    <label for="Name"></label>
                    <input type="text" id="5Name" name="registeNombreDeUsuario" formControlName="password"/>
                </p>


                <p>
                    <button (click)="this.crearUsuario()" class="button">register</button>
                </p>
             
                
            </div>

        </div>
    </div>
</div>